runs
*.pkl
data
save
*.pyc
*.sh.log*
.idea/
*__pycache__
*.pyc
.idea/*
*.so
*egg-info*
*.avi
*.pdf
*.xyz
*.zip
venv
wandb
assets/demonstrations
*.svg
.vscode
output
outputs
test_shooting
assets/*tool_*
assets/demonstrations (copy)
assets/demonstrations_backup/ 

data_copy
assets/demonstrations_copy